html, body {
    font-family: 'Times New Roman', Times, serif;
    background-color:rgb(252, 233, 233);
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 2px;
}

p {
    font-size: medium;
    margin: 0px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;

}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
}

h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
}

h5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
}

.map {
    height: 100%;
    min-width: 70%;
}

.mainPanel {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 2px;
    height: 80%;
}

button {
    flex-grow: 1;
    font-size: large;
    background-color: rgb(252, 233, 233);
    padding: 8px;
    border: 1px solid black;
    border-radius: 15px;
}

.activeButton {
    color: white;
    background-color: grey;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    gap: 4px;
}

.resultContainer {
    margin-left: 10px;
    width: 30%;
    height: 100%;
}

.resultBoxContainer {
    overflow-y: scroll;
    height: 100%;
    display: flex; 
    flex-direction: column; 
    gap: 4px;
}

.resultBox {
    display: flex;
    flex-direction: column;
    align-items: left;
    border: 1px solid black;
    border-radius: 5px;
}

.resultLabel {
    padding: 5px;
    font-weight: bold;
}

.result {
    display: flex; 
    flex-direction: column; 

    padding: 5px;
}

.crime {
    background-color: rgb(255, 185, 111);
}

.request {
    background-color: rgb(50, 252, 175);
}

.police {
    background-color: rgb(140, 184, 250);
}

.fire {
    background-color: rgb(250, 140, 140);
}

.typeBox {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}

/* Slider box */

.sliderBox {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 2px;
    gap: 5px;
}